@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <div class="container">
        <h1>Sobre Nós</h1>
        <p>Majuli Crochê foi criada em 2024 por <span class="highlight">Adeilda</span>, que despertou seu interesse na arte do crochê e transformou essa paixão em um negócio. Nossas peças são feitas com muito <span class="highlight">carinho</span>, garantindo produtos únicos e especiais para você!</p>
        <p>O crochê é uma arte vibrante que adiciona estilo e aconchego ao seu lar. Desde <span class="highlight">tapetes estilosos</span> até <span class="highlight">caminhos de mesa modernos</span>, nossas criações são feitas à mão com dedicação e amor.</p>
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqf7Cf7ZlE7k2PcLwvGOjqiYKq-ITpB2O_NwKvXcddxcgvH6mWBLekWdYXG0wfmiBsP-4&usqp=CAU" alt="Descrição da Imagem">
            <img src="https://clubepaineiras.org.br/wp-content/uploads/2022/10/croche-bavaro-800x450.jpg" alt="crochê">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD85quBrpSspRIx6APCs2tI5XPeRphXmJ1L3v7x2dDDwx_NQbg4crFx1u5Bt2ZAHddtso&usqp=CAU" alt="crochê">
        </div>
        <h1>Por que escolher Majuli Crochê?</h1>
        <p>Escolher Majuli Crochê é optar por <span class="highlight">qualidade</span>, <span class="highlight">beleza</span> e <span class="highlight">exclusividade</span>. Nossas peças são criadas para tornar sua casa mais aconchegante e cheia de personalidade. Deixe-nos trazer um toque de arte e alegria para o seu espaço!</p>
    </div>
</div>
@section scripts {
    <!-- Outros links e scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
}