@model majulicroche.Models.Carrinho

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Deletar?</h3>
<div>
    <h4>Carrinho</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
